<div class="item isotope-item" style="display: block;">
    <a href="http://www.facebook.com/media/set/?set=<%= url %>&type=3">
        <div class="shadow"></div>
    </a>

    <a href="http://www.facebook.com/media/set/?set=<%= url %>&type=3" target="_blank">
        <div class="item-wrapper">
            <figure>
                <img src="http://sphotos-a.ak.fbcdn.net/hphotos-ak-prn1/p206x206/<%= image %>.jpg">
            </figure>
            <div class="bottom-holder">
                <div class="desc-holder" style="bottom: 0px;">
                    <h3><%= name %></h3>
                </div>
            </div>
        </div>
    </a>
</div>