<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Tetovált Lányok</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href='http://fonts.googleapis.com/css?family=Overlock' rel='stylesheet' type='text/css'>
    <!-- Meta keyword & description -->
    <meta name="description" content="A legszebb tetovált lányok gyűjteménye">
    <meta name="keywords" content="tetovált lányok">
    <meta name="revisit-after" content="1 days">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="favicon.ico">

    <!--<link rel="stylesheet" href="./css/bootstrap.css">-->
    <!--<link rel="stylesheet" href="./css/bootstrap-responsive.css">-->
    <!--<link rel="stylesheet" href="./css/style.css">-->
    <!--<link rel="stylesheet" href="./css/style-responsive.css">-->
    <!--<link rel="stylesheet" href="./css/plugin.css">-->
    <!--<link rel="stylesheet" href="./css/control.css">-->

    <link rel="stylesheet" href="./css/minified.css">

    <!--<script type="text/javascript" src="./js/jquery.js"></script>-->
    <!--<script type="text/javascript" src="./js/modernizr.js"></script>-->
    <!--<script type="text/javascript" src="./js/plugins.js"></script>-->
    <!--<script type="text/javascript" src="./js/script.js"></script>-->

    <script type="text/javascript" src="js/minified.js"></script>
</head>
<body>

<header>
    <div class="logo">
        <h1><a href="index.html" style="font-family: 'Overlock', cursive; font-size: 36px;">
            Tetovált Lányok
        </a></h1>
    </div>
</header>

<div id="mainouter">
    <div id="main">

        <div class="lioseparator"></div>

        <div id="jeglio" class="isotope">
            <% _.each( models, function( listItem ){ %>
            <div class="item isotope-item" style="display: block;">
                <a href="http://www.facebook.com/media/set/?set=<%= listItem.url %>&type=3" target="_blank">
                    <div class="shadow"></div>
                </a>

                <a href="http://www.facebook.com/media/set/?set=<%= listItem.url %>&type=3" target="_blank">
                    <div class="item-wrapper">
                        <figure>
                            <img src="http://sphotos-a.ak.fbcdn.net/hphotos-ak-prn1/p206x206/<%= listItem.image %>.jpg">
                        </figure>
                        <div class="bottom-holder">
                            <div class="desc-holder" style="bottom: 0px;">
                                <h3><%= listItem.name %></h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <% }); %>
        </div>

        <div class="lio-loader" style="display: none;"></div>

        <script type="text/javascript" src="./js/jeglio.js"></script>
        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                /** bind jeg default **/
                $(window).jegdefault({
                    curtain: 1,
                    rightclick: 1,
                    clickmsg: "Disable Right Mouse Click"
                });

                $("#jeglio").jeglio({
                    itemWidth: "220",
                    galleryDim: "3",
                    descDim: "1",
                    loadAnimation: "sequpfade",
                    theatherMode: 0,
                    lang: {
                        portfoliotitle: "Enter Password",
                        passwordplaceholder: "Password",
                        submit: "Submit"
                    }
                });

            });
        </script>

    </div>
    <!-- #main -->
</div>
<!-- mainouter -->
<script async="true">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-37337827-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
</body>
</html>